<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
</p>

<p>
  <strong>Mensaje:</strong>
</p>

<p>
  <strong>ID Usuario:</strong>
</p>

<p>
  <strong>Nombre Usuario:</strong>
</p>

<p>
  <strong>ID Casa:</:strong>
</p>

<p>
  <strong>Nombre Casa:</:strong>
</p>

<button type="button" class="btn btn-default" style="margin-right: 20px;"><%= link_to 'Atrás', quotations_path %></button>