
body {
	font-family: 'News Cycle', sans-serif;
	font-size: 15px;
}

.text {
	font-family: 'News Cycle', sans-serif;
	font-size: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 20px;
	padding: 10px;
}

a:hover { 
    background-color: white;
    text-decoration: none;
    color:black;
    opacity: 0.5;
}

div.container2 {
	margin-left: 30%;
}

.form {
	font-size: 18px;
	font-family: 'News Cycle', sans-serif;
	width:80%;
}

.title{
	font-size: 25px;
	font-family: 'News Cycle', sans-serif;
	width:100%;
}

.back {
	font-family: 'News Cycle', sans-serif;
	font-size: 20px;
	position: relative;
	left: -30px;
}

.cotizar {
	font-family: 'News Cycle', sans-serif;
	font-size: 20px;
	position: relative;
	left: 69%;
	display: inline;
}

.favorita {
	font-family: 'News Cycle', sans-serif;
	font-size: 20px;
	position: relative;
	left: 64%;
	display: inline;
}

.navbar-brand {
	margin:15px;
	height: 110px;
	background-color: white;
}

.btn-default {
	font-family: 'News Cycle', sans-serif;
}

.btn-group2 {
	font-family: 'News Cycle', sans-serif;
	font-size: 15px;
	margin-top: 50px;
	margin-bottom: 25px;
	margin-right: 20px;
}

.notice {
	font-family: 'News Cycle', sans-serif;
	font-size: 15px;
	color: #5bc0de;
}

.alert {
	font-family: 'News Cycle', sans-serif;
	font-size: 15px;
	color: #5bc0de;
}

.dropdown-toggle {
	font-size: 18px;
}

.dropdown-menu {
	font-size: 10px;
}

textarea#quotation_message {
	width: 300px;
	height: 100px;
	border-style: ridge;
	border: 1 peru;
}

.field {
	font-family: 'News Cycle', sans-serif;
	font-size: 18px;
	width: 300px;
}

.actions {
	font-family: 'News Cycle', sans-serif;
	font-size: 15px;
}

a.btn.btn-lg.btn-info {
	color: white;
    background-color: #5bc0de;    
}