
body {
	font-family: 'News Cycle', sans-serif;
	font-size: 15px;
}


.text {
	font-family: 'News Cycle', sans-serif;
	font-size: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 20px;
}

a:hover { 
    background-color: orange;
    text-decoration: none;
}

