<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar su contraseña. Puede hacer esto en el siguiente link:</p>

<p><%= link_to 'Cambiar Contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no solicito esto, por favor ignore este correo.</p>
<p>Su contraseña no va a cambiar hasta que acceda al link en este correo y la cree una nueva.</p>
