<p>Hola <%= @resource.email %>!</p>

<p>Su cuenta ha sido bloqueada debido a muchos intentos fallidos de acceso.</p>

<p>Haga clic en el link a continuación para desbloquer su cuenta:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
